@use "../../variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  overflow-x: hidden;
  margin: 0 auto;
  background-color: $program-green;
}
