@use "../../variables.scss" as *;

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $program-orange;

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
    max-width: 1200px;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  h1 {
    @media (max-width: 424px) {
      font-size: 1.5em;
    }
  }
  .sponsorImage {
    display: block;
    margin: 2rem auto;
    max-width: 90vw;
    height: auto;
  }
}

.friendsContainer {
  background-color: $program-green;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;

  h1 {
    padding: 1rem;
  }

  .friendsCards {
    h2,
    p {
      text-align: center;
    }

    > div > div {
      background-color: $program-orange;
    }
  }
}

.contributorsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1200px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}
