@use "../../variables.scss" as *;

.accordion.accordion.accordion {
  color: white;
  background-color: $program-green;
  border-bottom: 1px solid white;
  box-shadow: none;
  margin: 0;
}

.summary.summary.summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: 100%;
}

.summaryContent.summaryContent.summaryContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.expandButton.expandButton.expandButton {
  color: white;
}

.titleText.titleText.titleText {
  color: white !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem;
  font-size: 18px;
  @media (max-width: $breakpoint-xsmall) {
    font-weight: bold !important;
    font-size: 14px;
  }
}

.composerText.composerText.composerText {
  color: white;
  font-weight: lighter;
  font-size: 16px;
  @media (max-width: $breakpoint-xsmall) {
    font-size: 12px;
  }
}

.details.details.details {
  color: white;
  text-align: justify;
  hyphens: auto;
  white-space: pre-line;
}

.performanceDetails.performanceDetails.performanceDetails {
  p {
    font-size: 16px;
    font-weight: bold;
    color: white;

    @media (max-width: $breakpoint-xsmall) {
      font-size: 12px;
    }
  }

  a {
    font-size: 18px !important;
    font-weight: bold !important;
    color: $program-yellow;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-align: left !important;

    @media (max-width: $breakpoint-xsmall) {
      font-weight: bold !important;
      font-size: 18px !important;
    }
  }

  margin-bottom: $margin-xlarge;
}

.conductorText.conductorText.conductorText {
  justify-self: center;
  font-style: italic;
  text-align: center;
  font-weight: bold;
  margin-bottom: $margin-xlarge;
  color: $program-cream;
}
