@use "../../variables.scss" as *;

.container {
  // margin: $margin-xlarge 0;
  background-color: $program-green;
  padding-top: $padding-xlarge;

  h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .accordionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

    > :last-child {
      border-bottom: none !important;
    }
  }
}
