@use "../../variables.scss" as *;

.introContainer {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 $padding-medium;
  background-color: $program-orange;
  color: white;

  h1,
  h2,
  p {
    margin: $margin-small 0;
  }
}
