@use "../../variables.scss" as *;

.footerContainer {
  h3,
  h4,
  p {
    font-weight: 100;
    margin: unset;
  }

  a {
    font-size: 20px;
    color: $program-yellow;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 2rem 0;

  .copyright.copyright.copyright {
    p {
      font-size: 16px;
    }
    padding-top: 1rem;
    text-align: center;
  }
}
