/* Transparent wrapper that crops the SVG to the given height */
.wrap {
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
  background: transparent;
}

/* Make child span the full width */
.fullBleed {
  width: 100%;
}

.svg {
  display: block;
  width: 100%;
  height: 100%;
}
