@use "../../variables.scss" as *;

.conductorsContainer {
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $program-green;
}
