@import "./variables.scss";

.centeredLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.navBarWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 130px;
  z-index: 10;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 10;

  @media (max-width: 1024px) {
    height: 100px;
  }

  @media (max-width: 768px) {
    height: 90px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    z-index: -1;
  }
}

.navBarWrapper.visible {
  opacity: 1;
  transform: translateY(0);
}

.navBarWrapper.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.imageContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: auto;

  /* Set a dynamic height for smaller screens */
  @media (max-width: 1024px) {
    // Tablet and below
    height: auto;
  }

  @media (min-width: 1025px) {
    // Desktop and above
    height: 70vh;
    max-height: 500px;
  }
}

.groupImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  position: relative;
}

/* Fade to green at bottom of image */
.imageContainer::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(
    transparent 0%,
    rgba(0, 0, 0, 0.1) 20%,
    rgba(0, 0, 0, 0.25) 35%,
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.7) 70%,
    mix($page-black, $program-green, 60%) 80%,
    mix($page-black, $program-green, 30%) 90%,
    $program-green 100%
  );
  pointer-events: none;
  z-index: 1;
}

.skylineWrapper {
  position: relative;
  z-index: 2;
  align-self: center;

  .skylineSVG {
    width: auto;
    height: 120px;
    margin-top: -120px;

    @media (max-width: 1024px) {
      height: 100px;
      margin-top: -100px;
    }

    @media (max-width: 768px) {
      height: 80px;
      margin-top: -80px;
    }

    @media (max-width: 480px) {
      height: 60px;
      margin-top: -60px;
    }

    @media (max-width: 320px) {
      height: 40px;
      margin-top: -40px;
    }
  }
}
