// breakpoints
$breakpoint-large: 1300px;
$breakpoint-medium: 970px;
$breakpoint-small: 800px;
$breakpoint-575: 575px;
$breakpoint-xsmall: 400px;

// margins
$margin-xsmall: 4px;
$margin-small: 8px;
$margin-medium: 12px;
$margin-large: 16px;
$margin-xlarge: 24px;

// paddings
$padding-xmall: 4px;
$padding-small: 8px;
$padding-medium: 12px;
$padding-large: 16px;
$padding-xlarge: 24px;
$padding-xxlarge: 32px;

// other colors
$dark-background: #242424;

// COLORS

// GREENS
$program-green: #50a399;

// YELLOWS
$program-yellow: #f8d36e;
$program-yellow-dark: #dfbd63;

// ORANGES
$program-orange: #ed7c3a;
$program-orange-dark: #c6662c;

// CREAM
$program-cream: #f7f3e8;

// BLACK
$page-black: #000;

// other
$standard-rounding: 10px;

// TEXT SHADOW
$text-shadow-color: rgba(25, 15, 5, 0.55);
