@use "../../variables.scss" as *;

.buttonContainer {
  background-color: $program-orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  .mainPageButton {
    padding: 1rem;
    width: 80vw;
    border-radius: $standard-rounding;
    background-color: $program-orange;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: $program-yellow;
    }
  }
}
